{
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["examples/**/*.json", "conformance/**/*.json", "schema/*.json"],
      "options": {
        "printWidth": 80
      }
    }
  ]
}
